:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-unit: 1rem;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-space-space-unit: 1em;
  --dl-color-primary-100: #370511ff;
  --dl-color-primary-500: #643843ff;
  --dl-color-primary-700: #775860ff;
  --dl-size-size-halfunit: 0.5rem;
  --dl-radius-radius-round: 50%;
  --dl-size-size-doubleunit: 2rem;
  --dl-size-size-tripleunit: 3rem;
  --dl-space-space-halfunit: 0.5em;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-quadruple: 4em;
  --dl-space-space-doubleunit: 2em;
  --dl-space-space-tripleunit: 3em;
}
@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: Poppins-Medium;
  src: url('/fonts/poppins/Poppins-Medium.ttf');
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  font-family: 'Poppins', sans-serif;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list-item {
  display: list-item;
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  font-family: 'Poppins', sans-serif;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  font-family: 'Poppins', sans-serif;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.Subheading {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.Button {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.Content {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
a.link:hover, h1.link:hover {
  color: #e83e59;
}
.footer-logo {
  width: 250px;
  filter: invert(97%) sepia(99%) saturate(0%) hue-rotate(314deg) brightness(102%) contrast(100%);
}
.footer-logo:hover {
  filter: invert(30%) sepia(87%) saturate(1389%) hue-rotate(323deg) brightness(95%) contrast(92%);
}
.menu-logo {
  text-decoration: none;
  width: 180px;
  filter: invert(97%) sepia(99%) saturate(0%) hue-rotate(314deg) brightness(102%) contrast(100%);
}
.menu-logo:hover {
  filter: invert(30%) sepia(87%) saturate(1389%) hue-rotate(323deg) brightness(95%) contrast(92%);
}
.menu-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.menu-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-right: var(--dl-space-space-doubleunit);
}
.menu-link {
  color: var(--dl-color-gray-white);
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
  display: contents;
}
.menu-navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 100;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: left;
  background-color: #402141;
}
.footer-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.top-fix-container {
  position: fixed;
  background-color: #402141;
  height: 110px;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 991px) {
  .menu-link {
    color: var(--dl-color-gray-white);
    z-index: 100;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
}
@media (max-width: 767px) {
  .menu-right-side {
    display: none;
  }
  .footer-menu {
    flex-direction: column;
  }
  .footer-links-container {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .footer-container {
    margin-left: 0px;
  }
}
@media (max-width: 479px) {
  .footer-container {
    height: 100%;
    align-items: flex-start;
  }
}